html
  head
    title= 'Web Calendar'
    link(rel='shortcut icon', href='favicon')
    link(rel='stylesheet', href='static/fullcalendar/dist/fullcalendar.css')
    link(rel='stylesheet', href='static/Materialize/dist/css/materialize.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/icon?family=Material+Icons')
    script(src='static/jquery/dist/jquery.min.js')
    script(src='static/moment/min/moment.min.js')
    script(src='static/fullcalendar/dist/fullcalendar.js')
    script(src='static/Materialize/dist/js/materialize.min.js')
    script.
      const users = !{JSON.stringify(users)};
      const events = !{JSON.stringify(events)};
    script(src='main.js')
  body
    .container
      .row
        h1= 'Web Calendar'
      .row
        .col.m8
          div#calendar
        .col.m4
          h4= 'Calculate Hours Worked'
          label.active(for='startdate') Start Selection
          input.datepicker#startDate(type='date')
          label(for='enddate', class='active') End Selection
          input.datepicker#endDate(type='date')
          .row
            ul.collapsible.popout#selectedEvents(data-collapsible='accordion')
      .row
        h4= 'User Database'
        .row
          .input-field.col.s12
            input#nameFilter(placeholder='First Last', type='text', class='validate')
            label(for='nameFilter') Filter by name
        .row
          ul.collapsible.popout#userList(data-collapsible='accordion')
    .fixed-action-btn#addButton(style='bottom: 45px; right: 24px')
      a.btn-floating.btn-large.waves-effect.waves-light.red
        i.material-icons add
    .modal.modal-fixed-footer#modalEdit
      .modal-content
        h4 Edit user 
          span#editId
        .row
          .input-field.col.s12
            input#editName(placeholder='First Last', type='text', class='validate')
            label(for='editName') Name
          .input-field.col.s12
            input#editTagId(placeholder='01234567891', type='number', class='validate')
            label(for='editTagId') Tag ID
          .input-field.col.s12
            input#editActive(type='checkbox')
            label(for='editActive') Active
      .modal-footer
        a.modal-action.modal-close.waves-effect.waves-green.btn-flat#confirmEdit(href='#') Confirm
        a.modal-action.modal-close.waves-effect.waves-red.btn-flat(href='#') Cancel
    .modal.modal-fixed-footer#modalAdd
      .modal-content
        h4 Add user
        .row
          .input-field.col.s12
            input#addName(placeholder='First Last', type='text', class='validate')
            label(for='editName') Name
          .input-field.col.s12
            input#addTagId(placeholder='01234567891', type='number', class='validate')
            label(for='editTagId') Tag ID
          .input-field.col.s12
            input#addActive(type='checkbox')
            label(for='addActive') Active
      .modal-footer
        a.modal-action.modal-close.waves-effect.waves-green.btn-flat#confirmAdd(href='#') Confirm
        a.modal-action.modal-close.waves-effect.waves-red.btn-flat(href='#') Cancel
